body,html,#root{
    color: var(--bs-dark);
    width: 100% !important;
    background-image: url("/img/ls_variant_blur.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}

.object-fit-cover{
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--bs-light);
}

::-webkit-scrollbar-thumb{
    background-color: #bcbcbc;
    border-radius: 2rem;
    border-color:  var(--bs-light);
    border-style: solid;
    border-width: 2px;
}